.field
	display table
	width 100%
	border-collapse collapse

	&__label
		padding-right 18px
		display table-cell
		width 1px
		font-size 22px
		font-weight bold
		vertical-align bottom
		white-space nowrap
		color #2f1b15

	&__control
		display table-cell
		vertical-align bottom
