.fieldset
	margin 0
	margin-bottom 50px
	padding 0
	display block
	font-size 15px
	line-height 23px
	color #3d3d3d
	border none

	&__legend
		font-size 24px
		font-weight bold
		line-height 48px
		color #2f1b15
