.text-link
	text-decoration none
	color #1f5f97
	background linear-gradient(currentColor, currentColor) repeat-x left 0 bottom 1px
	background-size 100% 1px
	transition .2s

	&:hover
		background-image none
