.textarea
	padding 0
	display block
	width 100%
	max-width 100%
	font-family 'Courier New', monospace
	font-size 30px
	line-height 62px
	resize vertical
	background embedurl('textarea-bg.png')
	background-size 771px 62px
	border none

	+retina()
		background-image embedurl('textarea-bg@2x.png')
